@import 'vars';

.btn-flat {
  color: $secondary-color;
}

.TodoItem:hover {
  background-color: $collection-item-active-bg;
}

.collection .collection-item.active {
  color: $typography-color;
  background-color: $collection-item-active-bg;
}

[type='checkbox']:checked + label:before {
  border-right-color: $checkbox-color;
  border-bottom-color: $checkbox-color;
}

[type='checkbox'].filled-in:checked + label:after {
  border-color: $checkbox-color;
  background-color: $checkbox-color;
}
